body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}

/* header-area */
.my-header.navbar  {
	padding: 20px 0;
}
.my-header .nav-link {
    padding-left: 25px !important;
}
.my-btn.btn {
    background-color: #8490ff;
    color: #fff;
}

/* slider-area */
.main-section-bg{
    background: #f9f9ff;
}
.slider-area{
    background: #f9f9ff;
}
.slider-caption{
    margin-top: 140px;
}
.slider-caption h4 {
    margin-bottom: 35px;
}
.slider-caption h2 {
    margin: 20px 0 30px 0;
    font-size: 46px;
}
.slider-caption p {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.slider-caption .my-btn.btn:hover {
    box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
}
/* about-section */
.about-text{
    margin-top: 50px;
}
.about-text p{
    font-size: 15px;
    margin-bottom: 30px;
}
.about-text .my-btn.btn:hover {
    box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
}
/* number-counter */
.number-counter{
    background-color: #8490ff;
    color: #fff;
    padding: 100px 0;
}
.counter-number-item p.h2 {
    font-weight: 700;
    font-size: 38px;
}
.counter-number-item p.text-muted {
    font-size: 16px;
}
/* pricing table */
.pricing-item{
    background: #fff;
    padding: 50px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    border-radius: 5px;
}
.pricing-item h2{
    background: #f9f9ff;
    display: inline;
    padding: 40px;
    border-radius: 50%;
}
.pricing-item ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 45px;
}
.pricing-item ul li{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #777;
}
.pricing-btn a{
    border-color: #657be0;
    border-width: 2px;
    color: #657be0;
    padding: 13px 28px;
    font-size: 22px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
/* team section */
.team-item {
    margin-top: 90px;
}
.team-item .card img {
    width: 100px;
    height: auto;
    margin-top: -70px;
    margin-left: 15px;
}
/*  Conent Us CSS  */
.contact-form-div .card{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    padding: 40px;
}
.get-in{
    margin-top: 80px;
    margin-left: 30px;
}

.footer-section{
    background: #04091e;
    color: #fff;
}




/* responsive */
/* @media (max-width: 556){

} */















